@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-light
  }
}

@layer utilities {
  .aspect-cover {
    aspect-ratio: 16/10;
  }

  .link {
    @apply text-info hover:underline
  }

  .link.accent {
    @apply text-accent hover:underline
  }

  .page-heading {
    @apply font-black tracking-tighter text-3xl md:text-5xl text-accent
  }

  .list-article-image {
    @apply transition w-full aspect-cover rounded-sm hover:drop-shadow-lg
  }

  .list-article-image-placeholder {
    @apply animate-pulse rounded-sm bg-accent-light w-full aspect-cover
  }

  .small-list-article-title {
    @apply font-black tracking-tighter text-xl md:text-2xl line-clamp-2 text-accent
  }

  .small-list-article-short-description {
    @apply text-accent-light/80 line-clamp-3
  }

  .small-list-article-info {
    @apply flex items-center space-x-2 text-xs lg:text-sm text-accent-light/80
  }

  .big-list-article-title {
    @apply font-black tracking-tighter text-2xl md:text-3xl line-clamp-2 text-accent
  }

  .big-list-article-short-description {
    @apply md:text-lg text-accent-light/80 line-clamp-3
  }

  .big-list-article-info {
    @apply flex items-center space-x-2 text-sm lg:text-base text-accent-light/80
  }

  .search-result-link {
    @apply transition font-bold tracking-tighter text-lg
  }

  .search-result-item:focus-within {
    @apply cursor-pointer bg-accent-light/10
  }
}
